.searchform input, .searchform button {
  float: left
}
.searchform input {
  background:#fefefe;
  border: none;
  font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}
.searchform input:focus {
  outline: none;
  box-shadow:0 0 4px #6d7a82 inset;
  -moz-box-shadow:0 0 4px #0d76be inset;
  -webkit-box-shadow:0 0 4px #0d76be inset;
}
.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}


.searchform button:hover {
  opacity:.9;
}