.btn_class_submit {
  margin-top: 15px;
  color: white;
    background-color: rgb(55, 90, 196);
    position: relative;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: .1em;
    padding: 11px 20px 11px 20px;
    transition: .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

